html {
    background: #white;
    background-size: cover;
}

button {
    background-color: #white;
    border-style: none;
    padding: 1px 0px 2px;
    outline: 0 !important;
}

.hidden {
    display: none;
}

:focus {
    outline: 0;
}

/*
 Start all funkly specific css class names funkly- to avoid collision with bootstrap and blockly css naming schemes
 */

.funkly-container {
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vh;
    background: #white;
    display: grid;
    grid-template-columns: repeat(3, 32vw);
    grid-template-rows: repeat(10, 9.8vh);
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.0vh;
}

.funkly-title {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 4vh;
    font-weight: 450;
    margin-left: 0.5vh;
    margin-top: 1.2vh;
}

.funkly-buttons {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    margin-bottom: 2vh;
}

.funkly-button-icon {
    height: auto;
    /* Jostain syystä napit ovat oikein kokoisia 80%, ei 100%*/
    width: 80%;
}

.funkly-file-load {
    margin: auto;
}

.funkly-blockly-editor {
    position: relative;
    grid-area: 2 / 1 / 11 / 3; 
}

.funkly-blockly-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.funkly-engine {
    grid-area: 2 / 3 / 7 / 4;
}

.funkly-game-area {
    position: absolute;
    background-color: #0571f5;
    width: 600px;
    height: 400px;
    scale: 1.3;
    transform-origin: top left;
    border-radius: 20px !important;
}

.funkly-char-selection {
    grid-area: 7 / 3 / 11 / 4;
    background-color: #f5f5f5;
    /*Play-tilaan border-radius täytyy laittaa erikseen*/
    border-radius: 20px !important;
}

.funkly-debug {
    /* TODO: get this to place _under_ the main blockly view*/
    top: 100vh;
    position: absolute;
}
.funkly-statemap{
    background: orange;
    width: 500px;
    top: 100vh; 
    position: absolute;
}

.blocklyToolboxDiv {
    background-color: #ffffff;
}

.blocklyMainBackground {
    stroke-width: 1;
    stroke: #ffffff;
}

.blocklySvg {
    background-color: #f5f5f5;
    /*blocklyToolBoxDiv on blocklySvg:n sisällä, joten palikka-alueen vasemman reunan pyöristäminen miten?*/
    border-radius: 20px;
}

.blocklyTreeIcon {
    width: 0px;
}

.blocklyTreeRow {
    margin-bottom: 0px;
    margin-top: 5vh;
    border-left: none !important;
}

.blocklyTreeSelected {
    background-color: #c9c9c9 !important;
}

.blocklyTreeLabel {
    /*cursor: default;
    font-family: sans-serif;*/
    font-size: 2.5vh; /*alle 20 oikealle tulee rako??*/
    /*padding: 0 6px;*/
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    /*vertical-align: middle;*/
    /*font-weight: 500;*/
}

/* Tällä vaihdetaan blockly kategorioiden hover väriä */ 
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #f5f5f5;
}
    
.blocklyFlyoutBackground {
    fill: #bfbfbf;
    fill-opacity: .8;
}
