html {
    background: #fff0c5ff;
    background-size: cover;
}

/*
 Start all funkly specific css class names funkly- to avoid collision with bootstrap and blockly css naming schemes
 */

.funkly-container {
    background: #fff0c5ff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.funkly-title {
    grid-area: 1 / 1 / 2 / 2; 
}


.funkly-buttons {
    grid-area: 1 / 3 / 2 / 4;
}

.blockly-editor {
    grid-area: 2 / 1 / 11 / 3; 
}

.funkly-blockly-div {
    position: absolute;
    grid-area: 2 / 1 / 11 / 3; 
    height: 9fr;
    width: 2fr;
}

.funkly-engine {
    grid-area: 2 / 3 / 7 / 4;
}

.funkly-char-selection {
    grid-area: 7 / 3 / 11 / 4;
    background-color: #7cdceb;
}

.funkly-icon-button{
    width: 50px;
    height: 50px;
}

button {
    background-color: #fff0c5ff;
    border-style: none;
}

.blocklyToolboxDiv {
    background-color: #fff0c5ff;
    /*mistä saa mouse hover harmaan sävyn vaihdettua*/
}

.blocklyTreeRow {
    margin-bottom: 0px;
    margin-top: 25px;
}

.blocklyTreeLabel {
    /*cursor: default;
    font-family: sans-serif;*/
    font-size: 18px; /*alle 20 oikealle tulee rako??*/
    /*padding: 0 6px;*/
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    /*vertical-align: middle;*/
}
    
.blocklyFlyoutBackground {
    fill: #ededed;
    fill-opacity: .8;
}

.hidden {
    display: none;
}
